

header {
	background-color: #f8f9fa;
  }
  
  .jumbotron {
	background-color: #343a40;
	color: #fff;
  }
  
  section {
	padding: 60px 0;
  }
  
  section h2 {
	margin-bottom: 30px;
  }
  
  .card {
	margin-bottom: 30px;
  }
  
  footer {
	color: #fff;
  }
  